textarea{
    height: 300px;
    width: 800px;
    margin-top: 170px;
    display: block;
    font-size:x-large;
    
}

button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(14, 14, 235);
    color: white;
    border-radius: 8px;
}
